html, .app {                 /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#f5a44d;
}
.material-icons{
  font-size: 45px !important;
}
.logo_connexion {
  height: 220px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.img_center {
  display: block;
  margin: 0 auto;
}
